html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
}
main{
    flex:1;
}
.icon{
    height:38px;
}
.logo{
    height:70px;
}
.logo-context{
    font-family:"Noto+Sans+TC";
}
.carousel-img{
    object-fit:cover;
    max-width:100%;
}
.carousel-indicators .c-indicator{
    width: 15px;   
    height: 15px;        
    border-radius: 50%;   
    background-color: gray;
    border: none;        
    opacity: 0.5;         
}
.carousel-indicators .active {
    width: 15px;   
    height: 15px;        
    border-radius: 50%;   
    background-color: white;
    border: none;        
    opacity: 1;  
}
.controlbar .searchbar{
    height:30px;
    width:150px;
    border-radius: 15px;
}
.search-icon {
    right: 25px;   
    top: 30%;
    color: gray;   
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}
input:focus + .search-icon {
    opacity: 0; 
}
.dropdown-toggle{
    height:30px;
}
.list-group-horizontal .list-group-item{
    font-family:"Noto+Sans+TC";
    white-space: nowrap;
}
.list-group-item:last-child{
    border-bottom:1px solid #dee2e6 !important;
}
.card-img-top{
    height:350px;
    max-width:100%;
}
.fanpage-icon{
    height:44px;
    width:100%;
}
.line{
    height:40px;
}
.copyright{
    font-size:10px;
}
.followus_title{
    font-family:"Noto+Sans+TC";
    letter-spacing:3px;
}
.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px; 
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    background-size: cover;
    background-position: center;
    background-image: url("../images/top.png");
}
.pagination .page-item.active .page-link, .item-color.active, .spec-comment.active, .comment-submit{
    background-color:lightslategray;
    color: white;
    border-color: lightslategray;
}
.item-color{
     padding: 4px;
}
th[scope="row"]{
    background-color:lightslategray;
    color: white;
}
.fa-brands{
    color:#3f465a;
    font-size:40px;
}
#homepage-header{
    background-image: url("../images/homepage-header.jpg");
    background-size: cover;
    background-position: center center;
    padding-top: 15rem;
    padding-bottom: 12.5rem;
}
.homepage-nav{
    background-color: transparent !important;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position:fixed;
    z-index:3;
}
.homepage-nav-title, .welcome{
    font-family:"Noto+Sans+TC";
    letter-spacing: 3px;
}
.shop-color{
    width:200px;
}
label.error{
    color: red;
    font-size: 12px;
}
#show_review div.customer_review{
    background-color: #d5d8dc  ;
}
i.like_unlike:hover, i.like_unlike.selected{
    color:#558edd;
    cursor:pointer;
}
i.like_unlike {
    transition: transform 0.2s ease-in-out;
}
i.like_unlike.selected {
    animation: grow 0.3s ease-in-out;
}
  
@keyframes grow {
    0%   { transform: scale(1) scaleY(var(--scaleY, 1)); }
    50%  { transform: scale(1.5) scaleY(var(--scaleY, 1)); }
    100% { transform: scale(1) scaleY(var(--scaleY, 1)); }
}

@media (min-width: 768px) {
    .input-width-md-75 {
      width: 75%;
    }
}
.toast_1{
    top:40%;
    z-index: 3;
}
