html,body{
    height:100%;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
}
main{
    flex:1;
}
.icon{
    height:38px;
}
.logo{
    height:70px;
}
.logo-context{
    font-family:"Noto+Sans+TC";
}
.carousel-img{
    height:372px;
    max-width:100%;
}
.carousel-indicators .c-indicator{
    width: 15px;   
    height: 15px;        
    border-radius: 50%;   
    background-color: gray;
    border: none;        
    opacity: 0.5;         
}
.carousel-indicators .active {
    width: 15px;   
    height: 15px;        
    border-radius: 50%;   
    background-color: white;
    border: none;        
    opacity: 1;  
}
.controlbar .searchbar{
    height:30px;
    width:150px;
    border-radius: 15px;
}
.search-icon {
    right: 25px;   
    top: 30%;
    color: gray;   
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}
input:focus + .search-icon {
    opacity: 0; 
}
.dropdown-toggle{
    height:30px;
}
.list-group-flush{
    width:200px;
}
.list-group-item{
    font-family:"Noto+Sans+TC";
}
.card-img-top{
    height:350px;
    max-width:100%;
}
.fanpage-icon{
    height:44px;
    width:100%;
}
.line{
    height:40px;
}
.copyright{
    font-size:10px;
}
.followus_title{
    font-family:"Noto+Sans+TC";
    letter-spacing:3px;
}
.price{
    color: palevioletred;
    font-size: 25px;
}
.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px; 
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    background-size: cover;
    background-position: center;
    background-image: url("../img/top.png");
}
.pagination .page-item.active .page-link, .item-color.active, .spec-comment.active, .comment-submit{
    background-color:lightslategray;
    color: white;
    border-color: lightslategray;
}
.item-color{
     padding: 4px;
}
th[scope="row"]{
    background-color:lightslategray;
    color: white;
}
.error{
    color: red;
    font-size: 12px;
}
.fa-brands{
    color:#3f465a;
    font-size:40px;
}
#homepage-header{
    background-image: url("../img/homepage-header.jpg");
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 12.5rem;
}
.homepage-nav{
    background-color: transparent !important;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position:fixed;
    z-index:3;
}
.homepage-nav-title, .welcome{
    font-family:"Noto+Sans+TC";
    letter-spacing: 3px;
}
.shop-color{
    width:200px;
}
